.navSearchBar {
  display: flex;
  justify-content: center;
  button {
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {
  // #Navbar {
  //   border: orange 1px solid;
  //   width: 80vw;
  // }
  
  // .navSearchBar {
  //   display: none;
  // }
  
  // #brand {
  //   // font-size: 1rem;
  // }
}